{% extends 'base.html' %}
{% block content %}
<form method="POST" xmlns="http://www.w3.org/1999/html" style="display: flex; align-items: center; flex-direction: column; gap: 30px">
{% csrf_token %}
    <fieldset>
        <p class="player-name">{{ player }}</p>
        {% for field in form %}
        <div class="container1">
            <span class="label">{{ field.label }}</span>
            <div class="myradio"> {% for radio in field %}
                {{ radio.tag }}
                <label for="{{ radio.id_for_label }}">
                </label>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </fieldset>

    {% if user.is_authenticated %}
    <input type="submit">
    {% else %}
    <p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
    {% endif %}
</form>

{% endblock %}
