{% extends 'base.html' %}
{% block content %}
<!--Forms with stars for voting-->
<form action="{% url 'randomchoice'%}" method="POST" style="display: flex; align-items: center; flex-direction: column; gap: 30px">
    <div class="wrapper">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form, player in packed %}
    <fieldset>
        <p class="player-name">{{ player }}</p>
        {% for field in form %}
        <div class="container1">
            <span class="label">{{ field.label }}</span>
            <div class="myradio"> {% for radio in field %}
                {{ radio.tag }}
                <label for="{{ radio.id_for_label }}">
                </label>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </fieldset>
    {% endfor %}
    </div>

    {% if user.is_authenticated %}
    <div class="Send-button d-grid gap-2 col-1 mx-auto"><input class="btn btn-outline-primary" type="submit" value="Send"></div>
    {% else %}
    <p>You must be logged in to make a choice. <span><a href="{% url 'login' %}">Login now</a></span></p>
    {% endif %}
</form>
{% endblock %}
