<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
        }
        input {
            margin-bottom: 20px;
        }
        .Send-button {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
{% block content %}
<h2>Registration</h2>
<form method="post">
    {% csrf_token %}
    <div>
        {% for field in form %}
        <div class="form-group">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% if field.errors %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="Send-button"><input class="btn btn-outline-secondary" type="submit" value="Send"></div>
</form>
<div class="d-grid gap-2 col-2 mx-auto">
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block" style="background-color: #87CEEB;" type="submit">
    <img src="{% static 'images/Google.png' %}" alt="Google" style="font-size:30px; width: 30px;"> Sing up with Google
    </a>
    <a href="{% url 'login' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Sign in</a>
    <a href="{% url 'index' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Home</a>
</div>
{% endblock %}
</body>
</html>

